{% extends 'base2.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <center>plaese chose : </center>
    <center> <a href="/client/login"> sign in </a></center>
    <center> <a href="/create"> sign up </a></center>
{% endblock %}