{% extends 'base3.html.twig' %}

{% block title %}Hello VoyageController!{% endblock %}

{% block body %}
    <table class="table table-striped">
        <tr>
        <td> voyage to </td>
        <td> nombre de personne </td>
        <td> date de votre reservation </td>
        <td> confirmer </td>
        <td> details </td>
        </tr>
        {% for reservation in reservations %}
            {% if reservation.getCl().getId() == client.getId() %}
        <tr>
            <td> {{ reservation.getVoy().getToVille() }}</td>
            <td> {{ reservation.getNbPers() }}</td>
            <td> {{ reservation.getDateRes()|date("d/m/Y")  }}</td>
            <td>
                {% if reservation.getConfirmer() == 0 %}
                    votre reservation n'est pas encore confirmé
                {% else %}
                    votre reservation est deja confirmer
                    {% endif %}
            </td>
            <td> <a href="{{ path ('detail_reservation_client' , {id:reservation.getId()}) }}" class="btn btn-info" > details </a></td>
        </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}