{% extends 'base3.html.twig' %}

{% block title %}Hello VoyageController!{% endblock %}

{% block body %}
<form method="post">
    <div class="form-group">
        <label for="nb_perso" class="form-label"> nombre de personne : </label>
        <input type="text" id="nb_perso" name="nb_perso"  class="form-control" placeholder="nombre de personne">
    </div>
    <button type="submit" class="btn btn-success"> reserver </button>
</form>
{% endblock %}