{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<form action="" method="post">
    <div class="form-group">
        <label class="form-label mt-4" for="imag">des images sur cette voyage</label>
        <input type="text" id="imag" class="form-control" name="imag" placeholder="URL de image">
    </div>
    <button type="submit" class="btn btn-primary"> ajouter</button>
</form>
{% endblock %}